*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 10px 25px;
    background-color: #505050;
    text-align: center;
    color: white;
}

h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.container section {
    width: 40%;
    line-height: 1.5;
    margin: 20px 20px;
}

#main-bio {
    float: left;
}

#contact-info {
    float: right;
}

img#profile-picture {
    float: left;
    margin-right: 15px;
    width: 200px;
    height: 250px;
    border: 2px solid #000;
}

a {
    color: #ff3366;
}