img {
    width: 200px;
    height: 250px;
}

header {
    background-color: #505050;
    text-align: center;
    color: white;
}

.about-me {
    width: 55%;
    display:inline-block;
    margin: 0 auto;
}

.contact {
    width: 35%;
    margin: 0 auto;
}

a {
    color: #ff3366;
}