* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 10px 25px;
    background-color: #505050;
    text-align: center;
    color: white;
}


img {
    width: 200px;
    height: 250px;
}

a {
    color: #ff3366;
}